@import
        url('https://fonts.googleapis.com/css2?family=Poppins&family=Sansita+Swashed&display=swap');

        * {
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        }
        h1 {
        font-family: 'Sansita Swashed', cursive;
        }

        body {
            padding: 0px;
            margin: 0px;
        }

        .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .column {
            flex: 33%;
            padding: 10px;
           
        }

        .column>div {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            background: rgb(180, 195, 180);
            border-radius: 0px 25px;
            box-shadow: 5px 5px 5px 5px gray;
        }

        .images {
            border-radius: 0px 25px 0px 0px;
        }

       
        

        header {
            text-align: center;
            background-color: #acdeaa;
            color: white;
            padding: 10px;
        }

        .bannerImg {
            background-image: linear-gradient(rgba(32, 152, 21, 0),rgba(5, 32, 3, 0.577)),url("https://images.pexels.com/photos/128402/pexels-photo-128402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
            background-size: cover;
            height: 50vh; 
            position: relative;
            
        }

        .bannerText {
            color: white;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            }

        .clickme{
            border: 4px solid #acdeaa;
            background: transparent;
            color: #acdeaa;
            padding: 8px 15px;
            border-radius: 25px;
            font-size: large;
            font-weight: 900;
        }

        button:hover {
            background-color:#acdeaa;
            color: white;
        }

        .nextButton {
            border-radius: 25px; 
            border: 4px solid #acdeaa;
            color: #acdeaa;
        }

        .ATCbutton {
            border-radius: 25px; 
            border: 4px solid rgb(155, 206, 79);
            color:  rgb(155, 206, 79);
        }

        

        .title {
            margin-top: 0px;
        }

        nav {
            text-align: center;
            background-color: #d6f8d8;
            padding: 10px;
        }

        a {
            color: white;
            text-decoration: none;
            padding: 10px;

        }

        a:hover {
            background-color: white;
            color: cornsilk;
        }

        footer {
            padding: 10px;
            color: white;
            background-color: black;
        }

        .footer-columns {
            flex: 25%;
            padding: 10px;
        }

        .footer-columns>input {
            margin: 5px;
        }

        .column1{
            flex: 33%;
            padding: 10px;
        }

        .column2{
            flex: 33%;
            padding: 10px;
        }

        .column3{
            flex: 33%;
            padding: 10px;
        }

        .column4{
            flex: 33%;
            padding: 10px;
        }

        .column5{
            flex: 33%;
            padding: 10px;
        }

        .desc{
            padding: 2px 20px;
        }